# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env

# VS Code settings
.vscode/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Database files
*.sqlite3
*.db

# Logs
*.log

# Pytest
.cache/
.pytest_cache/
